body{
	background-color: #DDDDDD;
	font-family: Helvetica;
	padding: 0;
	margin: 0;
}

#caja{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
}
.box{
	display: inline-block;
	width: 70%;
}
.box2{
	float: right;
	width: 30%;
}
section, aside, header{
	border-radius: 5px;
	box-shadow: 2px 3px 1px gray;
	background-color: #DDD;
	padding: 10px;
	margin: 10px;
}
header{

}
.titulo{
	background-color: #383283;
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
}
nav, footer{
	background-color: #3463da;
	box-shadow: 2px 3px 1px gray;
	border-radius: 5px;
	margin: 10px;
	padding-left: 15px;
}
ul{
	padding: 0px;
}
ul li{
	padding: 15px;
	display: inline-block;
	margin-right: 20px;
	border-radius: 20px;
}
ul li:hover{
	background-color: #0b3662;
	transition: 0.2s;
	transform: scale(0.9);

}
ul li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
footer{
	color: white;
	text-align: center;
	padding: 10px;
}

label {
	width: 140px;
	padding: 4px;
}

input {
	width: 140px;
	padding: 4px;
	margin: 5px 5px;
}

.info {
    background-color: #1c1c1d;
    color: white;
    padding: 20px;
}

.infoContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.infoContent .block .icon-social {
    font-size: 30px;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

article {
    display: block;
}

#formulario {
	width: 400px;
	margin: 0 auto;
	background-color:#F0EFEF;
	padding: 10px 30px;
	border-radius: 6px;
	border:thin #C1C1C1;
}
.fa:hover{
	transition: 0.3s;
	transform: scale(1.2);

}
